.header{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 80px;
    background: #CE0505 0% 0% no-repeat padding-box;
     opacity: 1;
     position: absolute;
}


    .circle{
        position: absolute;
        top: 15px;
        left: 30px;
        width: 52px;
        height: 52px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 50%;
        display: flex; /* or inline-flex */ 
        align-items: center; 
        justify-content: center;
    }

    .border{
        top: 17px;
        left: 1075px;
        width: 150px;
        height: 40px;
        /* UI Properties */
        border: 1px solid #FFFFFF;
        border-radius: 3px;
        opacity: 1;
        position: absolute;
        }
        .account1{
        top: 25px;
        left: 1080px;
        width: 152px;
        height: 23px;
        text-align: left;
        font: normal normal medium 16px/25px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        position: relative;
        }

        .logo {
            text-align: center;
            font-size: 25px;
            color: #ce0505;
            background: white;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            position: absolute;
            top: 25%;
            margin-left: 2%;
            font-family: Poppins;
            font-weight: bold;
        }

        .login{
            top: 29px;
        left: 1015px;
        width: 43px;
        height: 23px;
        position: absolute;
        /* UI Properties */
        text-align: left;
        font: normal normal medium 16px/25px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        }

        .login-block {
            float: right;
            padding-right: 20px;
            padding-top: 10px;
        }